{:deps true
 :dev-http {3000 "resources/public/"}
 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/assets/js"
   :asset-path "/resources/public/assets/js"
   :modules    {:main {:entries [frontend.core]
                       :init-fn frontend.core/init}}
   :devtools   {:preloads [preload devtools.preload]}}}}
